<footer>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <small class='block'
          >Powered By<a
            class='btn btn-link py-0 px-1'
            href='/'
            target='_blank'><strong>Wadda</strong></a
          >
        </small>
      </div>
    </div>
  </div>
</footer>
