<header
  id='cover'
  class='cover w-100 h-100 p-3 mx-auto text-center d-flex justify-content-center align-items-center text-white'
>
  <div class='cover-wrapper'>
    <p class='fs-3'>The Wedding of</p>
    <h1 class='mb-5'>Sarah & Angga</h1>
    <div class='text-guest mb-3'>
      <p>Kepada:</p>
      <h4>Bapak/Ibu/Saudara/i,</h4>
    </div>
    <a href='#hero' id='btn-cover' class='btn btn-lg btn-primary mt-4'
      >Buka undangan</a
    >
  </div>
</header>

