<nav id='navbar' class='sticky-top bg-transparent py-3 mynavbar'>
  <div class='container'>
    <ul class='nav'>
      <li class='nav-item'>
        <a class='nav-link text-white my-blog logo' aria-current='page' href='#'
          >Wadda</a
        >
      </li>
      <li class='nav-item ms-auto'>
        <i
          class='bi bi-justify-right'
          data-bs-toggle='offcanvas'
          data-bs-target='#offcanvasRight'
          aria-controls='offcanvasRight'></i>
      </li>
    </ul>
  </div>

  <div
    class='offcanvas offcanvas-end'
    tabindex='-1'
    id='offcanvasRight'
    aria-labelledby='offcanvasRightLabel'
  >
    <div class='offcanvas-header'>
      <button
        type='button'
        class='btn-close text-reset'
        data-bs-dismiss='offcanvas'
        aria-label='Close'></button>
    </div>
    <div class='offcanvas-body'>
      <nav class='nav flex-column text-center'>
        <a class='nav-link' href='#hero'>Home</a>
        <a class='nav-link' href='#couple'>Couple</a>
        <a class='nav-link' href='#info'>Info</a>
        <a class='nav-link' href='#story'>Story</a>
        <a class='nav-link' href='#gallery'>Gallery</a>
        <a class='nav-link' href='#gift'>Gifts</a>
        <a class='nav-link' href='#rsvp'>RSVP</a>
        <a class='nav-link' href='#live'>Live</a>
      </nav>
    </div>
  </div>
</nav>
