/* success payment section */
.success-payment {
  padding: 8rem 0;
}

.success-payment .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-50);
  width: 176px;
  height: 176px;
  border-radius: 100px;
}

.success-payment .img-wrapper img {
  width: auto;
}

.success-payment .cta-wrapper a {
  width: 100%;
  max-width: 350px;
}
/* success payment section end */

/* --- Media Query --- */
/* tablet */
@media (max-width: 992px) {
  .success-payment {
    padding: 2rem 0 8rem 0;
  }

  .success-payment .img-wrapper {
    width: 80px;
    height: 80px;
  }
  .success-payment .img-wrapper img {
    width: 48px;
  }
}
