---
import BtnPrimary from '@components/button/Primary.astro';
const { title, desc, price, nPrice } = Astro.props;
---

<div class='card w-100 rounded-4 p-3'>
  <div class='card-body'>
    <h3 class='card-title'>{title}</h3>
    <p class='card-text text-secondary'>
      {desc}
    </p>
    <div class='d-flex align-items-end flex-wrap gap-1 gap-lg-2 mb-2 mb-lg-3'>
      <p class='fw-bold text-decoration-line-through text-secondary fs-5 mb-0'>
        {nPrice}
      </p>
      <p class='fw-bold fs-4 mb-0'>{price}</p>
    </div>
    <div class='d-flex'>
      <BtnPrimary href='/tema' text='Pesan Sekarang' style='flex-grow-1 flex-lg-grow-0' />
    </div>
  </div>
</div>
