<!-- navbar -->
<nav id='navbar' class='navbar navbar-expand-lg sticky-top border-bottom'>
  <div class='container wadda-navbar'>
    <a class='navbar-brand fw-bold' href='/'>Wadda.</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mx-auto mb-2 mb-lg-0 gap-2 gap-lg-4'>
        <li class='nav-item'>
          <a class='nav-link' href='/#fitur'>Fitur</a>
        </li>
        <li class='nav-item dropdown'>
          <button
            class='nav-link dropdown-toggle'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Panduan
          </button>
          <ul class='dropdown-menu'>
            <li>
              <a class='dropdown-item' href='/#panduan'>Cara pemesanan?</a>
            </li>
            <li>
              <a class='dropdown-item' href='/guest-link'
                >Cara custom nama tamu?</a
              >
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/tema'>Tema</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/#testimoni'>Testimonial</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/#harga'>Harga</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/#faq'>FAQ</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/kontak'>Kontak Kami</a>
        </li>
      </ul>
      <ul class='navbar-nav mb-2 mb-lg-0'>
        <li class='nav-item d-flex'>
          <a
            class='btn btn-primary flex-grow-1 flex-sm-grow-0'
            href='https://wa.me/+628562376627?text=Halo%20Wadda,%0A%0APerkenalkan,%20nama%20saya%20%5Bnamamu%5D.%20Saya%20dan%20pasangan%20saya%20akan%20melangsungkan%20pernikahan%20pada%20%5Btanggal%5D.%0A%0AKami%20tertarik%20untuk%20menggunakan%20layanan%20undangan%20pernikahan%20digital%20dari%20Wadda.%0A%0AKami%20ingin%20berkonsultasi%20mengenai%20beberapa%20hal,%20yaitu:%0A-%0A-%0A-%0A%0AApakah%20kami%20bisa%20berkonsultasi%20lebih%20lanjut?%0A%0ATerima%20kasih.%0A%0ASalam,%0A%5BNama%20Anda%5D'
            target='_blank'>Konsultasi Gratis</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->

<script is:inline>
  // hide & show navbar when scroll
  var lastScrollTop = 0;
  navbar = document.getElementById('navbar');
  window.addEventListener('scroll', function () {
    var scrollTop = window.pageXOffset || document.documentElement.scrollTop;
    if (scrollTop > lastScrollTop) {
      navbar.style.top = '-100px';
    } else {
      navbar.style.top = '0';
    }
    lastScrollTop = scrollTop;
  });
</script>

<script is:inline>
  // close navbar when link onclick
  document.addEventListener('DOMContentLoaded', function () {
    var navbarToggle = document.querySelector('.navbar-toggler');
    var navbarCollapse = document.querySelector('.navbar-collapse');
    var navLinks = document.querySelectorAll('.navbar-nav a');
    // add event listener
    navLinks.forEach(function (link) {
      link.addEventListener('click', function () {
        if (navbarCollapse.classList.contains('show')) {
          navbarCollapse.classList.remove('show');
          navbarToggle.setAttribute('aria-expanded', 'false');
        }
      });
    });
  });
</script>
