body {
  background-color: var(--grey-50);
}

/* form section */
.form {
  padding: 5rem 0;
}

h5 {
  color: var(--brown-700);
}
/* form section end */

/* --- Media Query --- */
/* mobile device */
@media (max-width: 576px) {
}

/* tablet */
@media (max-width: 768px) {
  .form {
    padding: 3rem 0;
  }
}