/* hero section */
.hero-section {
  padding: 5rem 0;
}

.hero-section img {
  -webkit-mask-image: linear-gradient(180deg, #000 64%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(180deg, #000 64%, rgba(0, 0, 0, 0));
}
/* hero section end */

/* feature section */
.feature {
  padding: 5rem 0;
}

.feature .card {
  transition: box-shadow 1s;
}

.feature .card:hover {
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.2);
}

.feature .card .img-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-radius: 1rem;
  height: 128px;
  background-color: var(--grey-50);
}

.feature .card .img-wrapper img {
  width: 84px;
}
/* feature section end */

/* guide section */
.guide {
  padding: 5rem 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    var(--grey-50) 100%
  );
}

.guide .card h6 {
  color: var(--brown-700);
}

.guide .card {
  transition: box-shadow 1s;
}

.guide .card:hover {
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.2);
}
/* guide section end */

/* theme section */
.theme {
  padding: 5rem 0;
  background: linear-gradient(
    180deg,
    var(--brown-100) 0%,
    rgba(232, 224, 217, 0) 100%
  );
}
/* theme section end */

/* testimonial section */
.testimoni {
  padding: 8rem 0;
  background: linear-gradient(
    180deg,
    rgba(232, 224, 217, 0) 0%,
    var(--grey-50) 100%
  );
}

.testimoni .card {
  transition: box-shadow 1s;
}

.testimoni .card:hover {
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.2);
}
/* testimonial section end */

/* pricing section */
.pricing {
  padding: 5rem 0;
  background: linear-gradient(
    180deg,
    var(--brown-100) 0%,
    rgba(232, 224, 217, 0) 100%
  );
}

.pricing .card {
  transition: box-shadow 1s;
}

.pricing .card:hover {
  box-shadow: 0 0 16px rgba(33, 33, 33, 0.2);
}
/* pricing section end */

/* FAQ section */
.faq {
  padding: 5rem 0;
}
/* FAQ section end */

/* --- Media Query --- */
/* mobile device */
@media (max-width: 576px) {
}

/* tablet */
@media (max-width: 768px) {
  /* hero section */
  .hero-section {
    padding: 2rem 0;
  }
  /* hero section end */
}
