/* success payment section */
.success-payment {
  padding: 8rem 0;
}

.success-payment .img-wrapper{
  display: flex;
  justify-content: center;
  background-color: var(--grey-50);
  width: 176px;
  height: 176px;
  border-radius: 100px;
}

.success-payment .img-wrapper img {
  width: 112px;
}

.success-payment .cta-wrapper a {
  width: 100%;
  max-width: 350px;
}
/* success payment section end */

/* --- Media Query --- */
/* mobile device */
@media (max-width: 576px) {
}

/* tablet */
@media (max-width: 768px) {
  .success-payment {
    padding: 5rem 0;
  }
}