@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Noto+Sans+Arabic:wght@100;400&family=Sacramento&display=swap');

/* Variable */
:root {
  /* base */
  --white: #ffffff;
  --black: #101010;
  /* grey */
  --grey-50: #f6f6f6;
  --grey-100: #e7e7e7;
  --grey-200: #d1d1d1;
  --grey-300: #b0b0b0;
  --grey-400: #8e8e8e; /* primary */
  --grey-500: #6d6d6d;
  --grey-600: #5d5d5d;
  --grey-700: #4f4f4f;
  --grey-800: #454545;
  --grey-900: #3d3d3d;
  /* brown */
  --brown-50: #f6f3f0;
  --brown-100: #e8e0d9;
  --brown-200: #d2c5b6;
  --brown-300: #b8a18c;
  --brown-400: #a3846c;
  --brown-500: #94735e;
  --brown-600: #8a6656;
  --brown-700: #674941; /* primary */
  --brown-800: #8a6656;
  --brown-900: #4d3936;

  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  --bs-body-font-family: 'DM Sans', sans-serif;
}
/* End Variable */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
}

/* buttons */
.btn-primary {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--brown-700);
  --bs-btn-border-color: 0;
  --bs-btn-hover-bg: #674941dd;
  --bs-btn-hover-border-color: 0;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--grey-300);
  --bs-btn-active-border-color: 0;
  padding: 12px 24px;
  border-radius: 16px;
}

.btn-secondary {
  --bs-btn-color: var(--brown-700);
  --bs-btn-bg: var(--white);
  --bs-btn-border-color: var(--brown-700);
  --bs-btn-hover-color: var(--brown-700);
  --bs-btn-hover-bg: var(--brown-100);
  --bs-btn-hover-border-color: 0;
  --bs-btn-active-color: var(--brown-700);
  --bs-btn-active-bg: var(--brown-200);
  --bs-btn-active-border-color: 0;
  padding: 12px 24px;
  border-radius: 16px;
}

/* link */
.btn-link {
  text-decoration: none;
  --bs-btn-color: var(--brown-700);
  --bs-btn-hover-color: var(--brown-400);
  --bs-btn-active-color: var(--grey-300);
}
/* buttons end */

/* text */
.text-primary {
  color: var(--brown-700) !important;
}

.text-tertiary {
  color: var(--brown-900);
}
/* text end */

/* cover */
.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(16, 16, 16, 0) 0%,
      rgba(16, 16, 16, 0.8) 100%
    ),
    url(/src/img/sarah-angga/cover-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: grayscale();
}

.cover {
  position: relative;
  min-height: 100vh;
}

.cover-wrapper {
  padding-top: 12rem;
}

.cover h1,
.cover h4,
.cover p {
  text-shadow: var(--shadow);
}

.cover h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

.cover h4 {
  font-size: 1.6rem;
}

.cover p {
  font-size: 1.4rem;
}

.cover a {
  color: var(--brown-700);
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.cover a:hover {
  background-color: var(--brown-700);
  color: white;
}
/* cover end */

/* mynavbar */
/* offcanvas 2 */
.offcanvas-end {
  top: 0;
  right: 0;
  width: 365px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}
.mynavbar {
  /* border-left: 1px solid #000; */
  transition: 0.5s;
}

.mynavbar .nav .nav-link {
  color: var(--brown-700);
  font-size: 24px;
}
.mynavbar .nav .nav-link:hover {
  color: var(--brown-100);
}

.mynavbar .nav .nav-item i {
  font-size: 36px;
  background-color: var(--white);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}

.mynavbar .logo {
  background-color: var(--white);
  color: var(--brown-700) !important;
  font-weight: 600;
  border-radius: 8px;
  mix-blend-mode: difference !important;
}
/* end mynavbar */

/* hero section */
.hero {
  padding: 5rem 0;
  background-image: url(/src/img/sarah-angga/svg/bg-sweet-brown.svg);
  background-color: #e8e0d9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero img {
  width: 100%;
  max-width: 380px;
}

.hero .couple-name {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 1rem 0;
}
/* hero section end */

/* couple section */
.couple {
  padding: 5rem 0;
  background: linear-gradient(
    180deg,
    #e8e0d9 0%,
    rgba(255, 255, 255, 0) 37.93%
  );
}

.couple h2 {
  font-family: 'Noto Sans Arabic', sans-serif;
}

.couple img {
  width: 100%;
  max-width: 380px;
}

.couple .nama {
  font-family: 'Sacramento', cursive;
  font-size: 48px;
  margin: 1rem 0;
}

.couple .icon-wrapper {
  border-radius: 1rem;
  padding: 4px;
  background-color: var(--brown-100);
  width: 48px;
}

.couple .icon-wrapper:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
/* couple section end */

/* info section */
.info {
  padding: 5rem 0;
  background: linear-gradient(180deg, #e8e0d9 0%, rgba(255, 255, 255, 0) 100%);
}

/* countdown */
.info .simply-countdown > .simply-section {
  background: var(--brown-200);
  padding: 5rem;
  border-radius: 2rem;
  border: 1px solid var(--brown-300);
  box-shadow: none;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 3rem;
  color: var(--brown-600);
}

.simply-countdown > .simply-section .simply-word {
  color: var(--brown-900);
  font-size: 1.5rem;
}
/* countdown end */

/* akad & resepsi */
.info .card-akad,
.card-resepsi {
  background-image: url(/src/img/sarah-angga/svg/bg-card-sweet-brown.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--brown-100);
}

.akad-resepsi {
  padding: 5rem 0;
}

.info .icon-wrapper {
  background-color: var(--brown-200);
  border-radius: 2rem;
  padding: 1rem 3rem;
}
/* akad & resepsi end */
/* info section end */

/* love story section */
.story {
  padding: 5rem 0;
  background: linear-gradient(180deg, rgba(232, 224, 217, 0) 0%, #e8e0d9 100%);
}
.story .couple-name {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  margin: 1rem 0;
}

.story .timeline {
  position: relative;
  max-width: 1200ox;
  margin: 5rem auto;
}

.story .card-wrapper {
  padding: 1rem 4rem;
  position: relative;
  width: 50%;
  /* background: rgba(0, 0, 0, 0.2); */
}

.story .card-timeline {
  padding: 2rem;
  background-color: var(--white);
  position: relative;
  border-radius: 1rem;
}

.story .left-card-timeline {
  left: 0;
}

.story .right-card-timeline {
  left: 50%;
}

.story .icon-timeline {
  position: absolute;
  width: 64px;
  height: 64px;
  padding: 8px;
  border-radius: 100px;
  right: -35px;
  top: 32px;
  z-index: 10;
  background-color: var(--white);
}

.story .right-card-timeline .icon-timeline {
  left: -29px;
}

.story .icon-timeline img {
  width: 28px;
}

.story .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--brown-300);
  top: 0;
  left: 50%;
  margin-right: -3px;
  z-index: -1;
}

.story .left-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 32px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--white);
  right: -15px;
  z-index: 1;
}

.story .right-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 32px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--white);
  left: -15px;
  z-index: 1;
}
/* love story section end */

/* gallery section */
.gallery {
  padding: 5rem 0;
  background-color: var(--white);
}

.gallery .couple-name {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  margin: 1rem 0;
}

.gallery .img-wrapper img {
  border-radius: 1rem;
}

/* custom border radius on modal lightbox */
.lightbox
  > .modal-dialog
  > .modal-content
  > .modal-body
  > .lightbox-carousel
  > .carousel-inner {
  border-radius: 1.5rem;
}

.lightbox
  > .modal-dialog
  > .modal-content
  > .modal-body
  > .lightbox-carousel
  > .carousel-inner
  > .carousel-item
  > .ratio {
  border-radius: 1.5rem;
}

.gallery .video-wrapper img {
  border-radius: 1rem;
}
/* gallery section end */

/* gift section */
.gift {
  padding: 5rem 0;
  background-color: var(--brown-100);
}

.gift .icon-wrapper {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--brown-100);
}
.gift .icon-wrapper img {
  width: 2rem;
}
/* gift section end */

/* footer */
footer {
  padding: 2rem;
  background-color: var(--brown-100);
  color: var(--brown-700);
}

footer a {
  color: var(--brown-100);
  font-weight: bold;
  text-decoration: none;
}
/* end footer */

/* audio */
.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 50%;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  form {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* end audio */

/* Media Query */
/* Mobie */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  /* cover */
  .cover-wrapper {
    padding-top: 0;
  }
  /* cover end */

  /* offcanvas 2 */
  .offcanvas-end {
    width: 250px !important;
  }
  /* end offcanvas 2 */
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
  }

  .sticky-top {
    overflow: hidden;
  }

  /* cover */
  .cover-wrapper {
    padding-top: 0;
  }
  /* cover end */

  /* love story section */
  /* timeline */
  .story .timeline {
    margin: 3rem auto;
  }

  .story .timeline::after {
    left: 32px;
  }

  .story .card-wrapper {
    width: 100%;
    padding-left: 5rem;
    padding-right: 1.5rem;
  }

  .story .right-card-timeline {
    left: 0;
  }

  .story .icon-timeline {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 100px;
    right: -35px;
    top: 42px;
  }

  .story .icon-timeline img {
    width: 24px;
  }

  .story .left-card-timeline .icon-timeline,
  .story .right-card-timeline .icon-timeline {
    left: 10px;
  }

  .story .left-arrow,
  .right-arrow {
    border-right: 15px solid var(--white);
    border-left: 0;
    left: -15px;
  }
  /* love story section end */
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  /* cover */
  .cover-wrapper {
    padding-top: 0;
  }
  /* cover end */
}

/* Dekstop */
@media (max-width: 1200px) {
}
/* End Media Query */
