<div class='form-wrapper d-flex flex-column flex-lg-row gap-3 mt-3'>
  <!-- akad -->
  <div class='form-groups card flex-grow-1 p-3 rounded-4'>
    <h5 class='mb-4 text-center'>Akad Nikah</h5>
    <div
      class='input-group d-flex flex-column flex-sm-row gap-0 gap-sm-4 gap-lg-3'
    >
      <div class='col'>
        <div class='mb-3'>
          <label for='tglAkad' class='form-label'>Tanggal Akad</label>
          <input
            name='Tanggal Akad'
            type='date'
            id='tglAkad'
            class='form-control'
            placeholder='Pilih Tanggal'
            required
          />
          <div class='invalid-feedback'>Tanggal akad harus di isi!</div>
        </div>
      </div>
      <div class='col'>
        <div class='mb-3'>
          <label for='inputTimeAkad' class='form-label'>Waktu Akad</label>
          <input
            name='Waktu Akad'
            type='text'
            id='inputTimeAkad'
            class='form-control'
            placeholder='08.00 - 10.00 WIB'
            required
          />
          <div class='invalid-feedback'>Waktu akad harus di isi!</div>
        </div>
      </div>
    </div>
    <div class='mb-3'>
      <label for='inputNameAddress' class='form-label'>Nama Alamat</label>
      <input
        name='Nama Alamat Akad'
        type='text'
        id='inputNameAddress'
        class='form-control'
        placeholder='Nama Lokasi/Gedung'
        required
      />
      <div class='invalid-feedback'>Nama alamat akad harus di isi!</div>
    </div>
    <div class='mb-3'>
      <label for='textareaAkad' class='form-label'>Alamat Detail</label>
      <textarea
        name='Alamat Detail Akad'
        id='textareaAkad'
        class='form-control'
        rows='3'
        placeholder='Tulis Detail Alamat disini'
        required></textarea>
      <div class='invalid-feedback'>Detail alamat akad harus di isi!</div>
    </div>
    <div class='mb-3'>
      <label for='inputLinkMapsAkad' class='form-label'>Link Google Maps</label>
      <div class='input-group has-validation'>
        <span class='input-group-text' id='basic-addon1'
          ><i class='bi bi-link-45deg'></i></span
        >
        <input
          name='Link Google Maps Akad'
          type='url'
          id='inputLinkMapsAkad'
          class='form-control'
          placeholder='Paste link google map disini'
          required
        />
        <div class='invalid-feedback'>
          Link google maps akad harus di isi! dengan https://
        </div>
      </div>
    </div>
  </div>
  <!-- resepsi -->
  <div class='form-groups card flex-grow-1 p-3 rounded-4'>
    <h5 class='mb-4 text-center'>Resepsi Nikah</h5>
    <div
      class='input-group d-flex flex-column flex-sm-row gap-0 gap-sm-4 gap-lg-3'
    >
      <div class='col'>
        <div class='mb-3'>
          <label for='tglResepsi' class='form-label'>Tanggal Resepsi</label>
          <input
            name='Tanggal Resepsi'
            type='date'
            id='tglResepsi'
            class='form-control'
            placeholder='Pilih Tanggal'
            required
          />
          <div class='invalid-feedback'>Tanggal resepsi harus di isi!</div>
        </div>
      </div>
      <div class='col'>
        <div class='mb-3'>
          <label for='inputTimeResepsi' class='form-label'>Waktu Resepsi</label>
          <input
            name='Waktu Resepsi'
            type='text'
            class='form-control'
            id='inputTimeResepsi'
            placeholder='10.30 WIB - Selesai'
            required
          />
          <div class='invalid-feedback'>Waktu resepsi harus di isi!</div>
        </div>
      </div>
    </div>
    <div class='mb-3'>
      <label for='inputNameResepsi' class='form-label'>Nama Alamat</label>
      <input
        name='Nama Alamat Resepsi'
        type='text'
        class='form-control'
        id='inputNameResepsi'
        placeholder='Nama Lokasi/Gedung'
        required
      />
      <div class='invalid-feedback'>Nama alamat resepsi harus di isi!</div>
    </div>
    <div class='mb-3'>
      <label for='textareaResepsi' class='form-label'>Alamat Detail</label>
      <textarea
        name='Alamat Detail Resepsi'
        class='form-control'
        id='textareaResepsi'
        rows='3'
        placeholder='Tulis Detail Alamat disini'
        required></textarea>
      <div class='invalid-feedback'>Detail alamat resepsi harus di isi!</div>
    </div>
    <div class='mb-3'>
      <label for='inputLinkMapsResepsi' class='form-label'
        >Link Google Maps</label
      >
      <div class='input-group has-validation'>
        <span class='input-group-text' id='basic-addon1'
          ><i class='bi bi-link-45deg'></i></span
        >
        <input
          name='Link Google Maps Resepsi'
          type='url'
          class='form-control'
          id='inputLinkMapsResepsi'
          placeholder='Paste link google map disini'
          required
        />
        <div class='invalid-feedback'>
          Link google maps resepsi harus di isi! dengan https://
        </div>
      </div>
    </div>
  </div>
</div>
