<div class='accordion-wrapper card p-3 p-lg-4 rounded-4 mt-4'>
  <div class='accordion' id='accordionPanelsStayOpenExample'>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button fs-5'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#panelsStayOpen-collapseOne'
          aria-expanded='true'
          aria-controls='panelsStayOpen-collapseOne'
        >
          + Love Story
        </button>
      </h2>
      <div
        id='panelsStayOpen-collapseOne'
        class='accordion-collapse collapse show'
      >
        <!-- love story -->
        <div class='accordion-body'>
          <div
            class='optional-wrapper d-flex align-items-center justify-content-sm-between flex-column flex-sm-row gap-sm-3'
          >
            <h5 class='mb-0'>
              Love Story
              <span class='text-secondary'>(Optional)</span>
            </h5>
            <div class='form-check my-3'>
              <input
                name='Tanpa Love story?'
                type='checkbox'
                id='optionalCheckStory'
                class='form-check-input'
                value='Tanpa Love Story'
              />
              <label class='form-check-label ms-2 mb-0' for='optionalCheckStory'
                >Tanpa Love Story</label
              >
            </div>
          </div>
          <div
            class='alert alert-secondary alert-dismissible fade show'
            role='alert'
          >
            Anda dapat menambahkan cerita cinta anda dengan pasangan,
            <br class='d-none d-xl-block' />
            namum jika tidak mau ada love story, anda bisa mencentang checkbox /
            pilihan Tanpa love story.
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='alert'
              aria-label='Close'></button>
          </div>

          <hr class='text-secondary' />

          <div id='formStory' class='form-wrapper'>
            <h5 id='headingStory' class='mb-4'>Cerita 1</h5>
            <div
              class='input-group d-flex flex-column flex-sm-row gap-0 gap-sm-4'
            >
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Judul</label>
                  <input
                    name='Judul 1st'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Awal bertemu'
                    required
                  />
                </div>
              </div>
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Kapan?</label>
                  <input
                    name='Kapan? 1st'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Tanggal/Bulan/Tahun'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='mb-3'>
              <label id='labelStory' class='form-label'>Detail cerita</label>
              <textarea
                name='Detail Cerita 1st'
                id='textAreaStory'
                class='form-control'
                rows='3'
                placeholder='Ceritakan disini. . .'
                required></textarea>
            </div>

            <hr class='text-secondary' />

            <h5 id='headingStory' class='my-4'>Cerita 2</h5>
            <div
              class='input-group d-flex flex-column flex-sm-row gap-0 gap-sm-4'
            >
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Judul</label>
                  <input
                    name='Judul 2nd'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Tunangan'
                    required
                  />
                </div>
              </div>
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Kapan?</label>
                  <input
                    name='Kapan? 2nd'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Tanggal/Bulan/Tahun'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='mb-3'>
              <label id='labelStory' class='form-label'>Detail cerita</label>
              <textarea
                name='Detail cerita 2nd'
                id='textAreaStory'
                class='form-control'
                rows='3'
                placeholder='Ceritakan disini. . .'
                required></textarea>
            </div>

            <hr class='text-secondary' />

            <h5 id='headingStory' class='my-4'>Cerita 3</h5>
            <div
              class='input-group d-flex flex-column flex-sm-row gap-0 gap-sm-4'
            >
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Judul</label>
                  <input
                    name='Judul 3rd'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Menikah'
                    required
                  />
                </div>
              </div>
              <div class='col'>
                <div class='mb-3'>
                  <label id='labelStory' class='form-label'>Kapan?</label>
                  <input
                    name='Kapan? 3rd'
                    type='text'
                    id='inputTextStory'
                    class='form-control'
                    placeholder='Tanggal/Bulan/Tahun'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='mb-3'>
              <label id='labelStory' class='form-label'>Detail cerita</label>
              <textarea
                name='Detail Cerita 3rd'
                id='textAreaStory'
                class='form-control'
                rows='3'
                placeholder='Ceritakan disini. . .'
                required></textarea>
            </div>
          </div>
        </div>
        <!-- love story end -->
      </div>
    </div>
    <div class='accordion-item'>
      <h2 class='accordion-header'>
        <button
          class='accordion-button fs-5'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#panelsStayOpen-collapseTwo'
          aria-expanded='true'
          aria-controls='panelsStayOpen-collapseTwo'
        >
          + Wedding gift
        </button>
      </h2>
      <div
        id='panelsStayOpen-collapseTwo'
        class='accordion-collapse collapse show'
      >
        <!-- wedding gift -->
        <div class='accordion-body'>
          <div
            class='optional-wrapper d-flex align-items-center justify-content-sm-between flex-column flex-sm-row gap-sm-3'
          >
            <h5 class='mb-0'>
              Wedding Gift
              <span class='text-secondary'>(Optional)</span>
            </h5>
            <div class='form-check my-3'>
              <input
                name='Tanpa Wedding Gift?'
                type='checkbox'
                class='form-check-input'
                id='optionalCheckGift'
                value='Tanpa Wedding Gift'
              />
              <label class='form-check-label ms-2 mb-0' for='optionalCheckGift'
                >Tanpa Wedding Gift</label
              >
            </div>
          </div>
          <div
            class='alert alert-secondary alert-dismissible fade show'
            role='alert'
          >
            Anda dapat menambahkan weding gift untuk meneriama hadiah dari tamu
            undangan,
            <br class='d-none d-xl-block' />
            namum jika tidak mau ada wedding gift, anda bisa mencentang checkbox
            / pilihan Tanpa wedding gift.
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='alert'
              aria-label='Close'></button>
          </div>

          <hr class='text-secondary' />

          <div
            id='formGift'
            class='row d-flex flex-column flex-sm-row gap-lg-4 mt-4'
          >
            <div class='col'>
              <h5 id='headingGift' class='mb-4'>
                Rekening Bank/Dompet Digital
              </h5>
              <hr class='text-secondary' />
              <div class='mb-3'>
                <label id='labelGift' class='form-label'
                  >Nama Pemilik Rekening</label
                >
                <input
                  name='Nama Pemilik Rekening'
                  type='text'
                  id='inputTextGift'
                  class='form-control'
                  placeholder='Nama Lengkap'
                  pattern='^[^0-9]+$'
                  title='Hanya diizinkan menggunakan huruf dan spasi, tanpa angka'
                  onkeypress='if(this.value.length==35) return false;'
                  required
                />
              </div>
              <div class='mb-3'>
                <label id='labelGift' class='form-label'
                  >Nama Bank / Dompet Digital</label
                >
                <input
                  name='Nama Bank / Dompet Digital'
                  type='text'
                  id='inputTextGift'
                  class='form-control'
                  placeholder='Bank BCA / Gopay'
                  required
                />
              </div>
              <div class='mb-3'>
                <label id='labelGift' class='form-label'>Nomor Rekening</label>
                <input
                  name='Nomor Rekening'
                  type='number'
                  id='inputTextGift'
                  class='form-control'
                  placeholder='123 456 7890'
                  onkeypress='if(this.value.length==20) return false;'
                  required
                />
              </div>
            </div>

            <div class='col'>
              <h5 id='headingGift' class='mb-4'>Kado Fisik</h5>
              <hr class='text-secondary' />
              <div class='mb-3'>
                <label id='labelGift' class='form-label'>Nama Penerima</label>
                <input
                  name='Nama Penerima'
                  type='text'
                  id='inputTextGift'
                  class='form-control'
                  placeholder='Nama Lengkap'
                  pattern='^[^0-9]+$'
                  title='Hanya diizinkan menggunakan huruf dan spasi, tanpa angka'
                  onkeypress='if(this.value.length==35) return false;'
                  required
                />
              </div>
              <div class='mb-3'>
                <label id='labelGift' class='form-label'>No. WhatsApp</label>
                <input
                  name='Nomor HP'
                  type='number'
                  id='inputTextGift'
                  class='form-control'
                  placeholder='+6281234567890'
                  onkeypress='if(this.value.length==15) return false;'
                  required
                />
              </div>
              <div class='mb-3'>
                <label id='labelGift' class='form-label'>Alamat Detail</label>
                <textarea
                  name='Alamat Detail Gift'
                  id='textAreaGift'
                  class='form-control'
                  rows='3'
                  placeholder='Tulis Detail Alamat disini'
                  required></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- wedding gift end -->
      </div>
    </div>
  </div>
</div>
